{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Contact</h2>
      <p>Contact via email: <a href="mailto:app@gmail.com">app@gamil.com</a>.
      <p><strong>Office Address:</strong></p>
      1280 Main Street West </br>
      Hamilton, Ontario <br />
      L8S 4L8 <br />
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
