<div class="topnav">
  <a href="/" {{#homenav}}class="curnav"{{/homenav}}>Home</a>
  <a href="/articles" {{#articlesnav}}class="curnav"{{/articlesnav}}>Articles</a>
  <a href="/contact" {{#contactnav}}class="curnav"{{/contactnav}}>Contact</a>
</div>
